.container__form {
    background: #0c0c0c;
    margin: 0
}

.form__edit {
    width: 340px;
    height: 440px;
    background: black;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px rgb(255, 255, 255);
    margin: calc(50vh - 220px) auto;
    padding: 2rem;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    position: relative
}

.h2__form {
    margin: 10px 0;
    padding-bottom: 10px;
    width: 180px;
    color: white;
    border-bottom: 3px solid #DCCA87
}

.input__form {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    color: white;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    transition: all .3s;
    border-bottom: 2px solid #DCCA87
}

.input__form:focus {
    border-bottom: 2px solid #78788c
}

.p__form:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: white;
    color: #5a5a5a
}

.button__form {
    float: left;
    padding: 8px 12px;
    margin: 8px 0 0;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #78788c;
    background: 0;
    color: #5a5a6e;
    cursor: pointer;
    transition: all .3s
}

.button__form:hover {
    background: rgb(161,130,98);
    color: #fff
}

.div__form {
    content: 'Hi';
    position: flex;
    bottom: -15px;
    right: -20px;
    background: rgb(161,130,98);
    color: #fff;
    padding: 16px 4px 16px 0;
    border-radius: 6px;
    font-size: 13px;
    box-shadow: 10px 10px 40px -14px #000
}

.span__form {
    margin: 0 5px 0 15px
}